<html>
    <head>
    </head>

    <body>
        {{! {{> menu}} 
        <h1>Login</h1>
        <form method="POST" action="/login">
        <input type="text" placeholder="Username" name="username" />
        <input type="password" placeholder="Password" name="password"/>
        <button>Login</button>
        </form>

        <a href="/register"><button>Register</button></a>

        {{! {{message}}



    </body>

</html>