<html>
    <head></head>
    <body>

        <h1>Update Post</h1>

    
        <form method="POST" action="/update-post/{{id}}">
        <input type="text" value="{{title}}" name="title">
        <input type ="text" value="{{body}}" name="body">
        <button>Save</button>
        </form>
    
    </body>
</html>